.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.titulo-bg {
  background-color: var(--s11);
}

.titulo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.encomende {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--p1);
  font-family: var(--texto);
  line-height: 1.14;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.botao {
  color: var(--p5);
  display: inline-block;
  font-family: var(--texto);
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 16px 24px;
  max-width: max-content;
  background-image: var(--gradient);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  background-image: var(--select-gradient);
}

.botao.secundario {
  background-image: none;
  background-color: var(--s10);
  color: var(--s2);
}

.botao.secundario:hover {
  background-image: none;
  background-color: var(--s9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../svg/det-arrow.svg);
  transition: transform .4s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .botao {
    font-size: .9rem;
    padding: 12px 20px ;
  }
}