@charset "UTF-8";
body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3/5;
  margin: 2rem 0;
  background: #ffbb55;
}
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222222;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}
.grid-section .titulo {
  font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}

.animais-lista {
  height: 360px;
  overflow-y: scroll;
  grid-column: 2;
  cursor: pointer;
}
.animais-lista::-webkit-scrollbar {
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
  background: #ffbb55;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}
.animais-descricao {
  grid-column: 3;
}
.animais-descricao section {
  margin-bottom: 3rem;
}
.animais-descricao[data-descricao=descricao] > section {
  display: none;
}
.animais-descricao[data-descricao=descricao] > section.ativo {
  display: block !important;
}
.animais-descricao[data-descricao=descricao] > section.ativo.show-right {
  animation: show-right 0.7s forwards;
}
.animais-descricao[data-descricao=descricao] > section.ativo.show-down {
  animation: show-down 0.7s forwards;
}
.animais h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #ee5544;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}
.animais p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.faq-lista {
  grid-column: 2/4;
}
.faq-lista dt {
  font-family: monospace;
  font-weight: bold;
  margin: 2rem 0 0.5rem;
  color: #ee5544;
  font-size: 1rem;
  cursor: pointer;
}
.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}
.faq-lista dt::after {
  content: "⮧";
  display: inline-block;
  margin-left: 12px;
}
.faq-lista dt.ativo::after {
  content: "⮥" !important;
}
.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 30px 0.5rem;
  display: none;
}
.faq-lista dd.ativo {
  animation: accordion 0.7s forwards;
  display: block;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}
.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #ffbb55;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #ffbb55;
}
.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
}

[data-sessao=sessao] {
  opacity: 0;
  transform: translateX(-50px);
  transition: 0.5s;
}
[data-sessao=sessao].ativo {
  opacity: 1;
  transform: translateX(0);
}

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-container .modal {
  padding: 40px;
  background: #ffffff;
  min-width: 300px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #ffffff;
  position: relative;
  animation: modal 0.5s forwards;
}
.modal-container .modal .fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: #e54;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  top: -30px;
  right: -30px;
  position: absolute;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}
.modal-container .modal input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
}
.modal-container .modal label {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  font-weight: 700;
  margin: 16px 0 8px 0;
}
.modal-container .modal button[type=submit] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 12px 32px;
  font: 700 1rem/1 "IBM Plex Mono", monospace;
  color: #ffffff;
  margin-top: 16px;
}
.modal-container.ativo {
  display: flex;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 150px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1/3;
  }
  .grid-section .titulo {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0;
  }
  .copy {
    margin-bottom: 0;
  }
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes accordion {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
