@font-face {
  font-family: "Lol-Bold";
  src: url("../fonts/BeaufortforLOL-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lol-Medium";
  src: url("../fonts/BeaufortforLOL-MediumItalic.ttf") format("truetype");
}

body,
h1,
p {
  padding: 0;
  margin: 0;
  background-color: #070912;
}

img {
  width: 100%;
  height: auto;
}

.App {
  color: #fff;
}

.title {
  display: flex;
  justify-content: center;
  font: italic 6.2rem/1 "Lol-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 4rem 0 calc(2rem + 8px) 0;
  position: relative;
  animation: toUp 2s ease-out;
}

.title::after {
  content: "";
  display: flex;
  width: calc(100vw - 12rem);
  max-width: 720px;
  height: 1px;
  background-color: #fff;
  border-radius: 1px;
  opacity: .2;
  bottom: -8px;
  position: absolute;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-right-color: transparent;
  animation: loading infinite 1s linear;
}

@keyframes toUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #070912;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 1080px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
