.footer-bg {
  background-color: var(--b);
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 120px;
  padding-bottom: 60px;
  gap: 60px;
}

.footer-logo {
  max-width: max-content;
}

.footer a:hover {
  color: var(--s2);
}

.footer-midia {
  display: flex;
  gap: 40px;
}

.footer-direitos {
  grid-column: 1 / -1;
  justify-self: center;
}

.footer-contato h3, 
.footer-informacoes h3 {
  margin-bottom: 60px;
}

.footer-contato li, 
.footer-informacoes li {
  margin-bottom: 18px;
}

.footer-contato li:nth-child(even)::after {
  content: '';
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--s9);
  margin-top: 18px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-contato h3, 
  .footer-informacoes h3 {
  margin-bottom: 32px;
  } 

  .footer-logo {
    grid-column: 1 / -1;
  }
}

@media (max-width: 600px) {
  .footer {
    gap: 40px 20px;
  }
}

@media (max-width: 400px) {
  .footer {
  grid-template-columns: 1fr;
  }

  .footer-contato h3, 
  .footer-informacoes h3 {
  margin-bottom: 32px;
  } 

  .footer-contato li, 
  .footer-informacoes li {
  margin-bottom: 12px;
  }

  .footer-contato li:nth-child(even)::after {
    margin-top: 12px;
  }

  .footer-contato {
    margin-bottom: 40px;
  } 

  .footer-informacoes {
    margin-bottom: 20px;
  }

  .footer-logo {
    margin-bottom: 40px;
  }
}