.header-bg {
  background-color: var(--b);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  color: var(--w);
  font-family: var(--texto);
  font-size: 1.125rem;
  position: relative;
}

.header-menu a::after { 
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--w);
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: .3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    padding: 10px 20px;
    background-color: var(--s10);
    border-radius: 5px;
  }

  .header-menu a:hover {
    background-color: var(--s9);
    transition: .2s;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 650px) {
  .header-menu a {
    font-size: .875rem;
  }

  .header-menu {
    justify-content: center;
    gap: 10px;
  }

  .header {
    display: grid;
    justify-content: center;
  }

  .header a {
    justify-self: center;
  }
}