.introducao-bg {
  background: var(--s2);
  color: var(--w);
  box-shadow: inset 0px -120px var(--w);
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.introducao img {
  border-radius: 0px 0px 20px 20px;
  object-fit: cover;
  height: 100%;
}

.introducao-conteudo {
  align-self: self-end;
  padding-bottom: 202px;
  padding-top: 20px;
}

.introducao-conteudo h1 {
  margin-bottom: 28px;
}

.introducao-conteudo p {
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .introducao-bg {
    box-shadow: inset 0px -60px var(--w);
    padding-top: 20px;
  }
  
  .introducao {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
    padding-top: inherit;
  }
  
  .introducao img {
    height: 300px;
    border-radius: 20px;
  }
  
  .introducao-conteudo p {
    max-width: 80ch;
  }
}
