.principal {
  display: grid;
  background-image: url(../img/onda.svg);
  background-repeat: repeat;
  height: 100vh;
}

.apresentacao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1366px;
  margin: auto;
  padding: 2.5rem 1.25rem;
  gap: 2.5rem;
}

.nome {
  display: grid;
  align-content: center;
  justify-content: left;
}

.nome h1 {
  font-size: 4.5vw;
}

.nome h2 {
  font-size: 2.3vw;
  color: var(--cor2);
}

.nome h3 {
  font-size: 1.7vw;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 20px;
  margin-left: 3rem;
}

.icone {
  display: block;
  height: 40px;
  margin-top: 1.25rem;
}

.foto {
  display: grid;
  place-self: center end;
  position: relative;
  width: 100%;
}

@media (max-width: 900px) {
  .apresentacao {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.25rem;
  }

  .nome {
    justify-content: center;
    text-align: center;
    gap: 5px;
  }

  .nome h1::before {
    display: none;
  }

  .social {
    justify-content: center;
    margin: 0rem;
  }

  .foto {
    width: 75%;
    display: block;
    place-self: center;
  }

  .nome h1 {
    font-size: 3rem;
  }
  .nome h2 {
    font-size: 1.5rem;
  }
  .nome h3 {
    font-size: 1rem;
  }
}
