.formacao-sessao {
  background-color: var(--cor3);
  color: #8f8f8f;
}

.minha-experiencia {
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1.33;
}

.minha-experiencia > strong {
  color: #fff;
  font-weight: bold;
}

.formacao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1366px;
  padding: 5.5rem 1.25rem;
  margin: auto;
  gap: 6.25rem;
}

.formacao > h1 {
  font-size: 8rem;
  font-weight: bolder;
  text-align: left;
  text-transform: uppercase;
  word-break: break-all;
  color: black;
}

.formacao-blocos {
  display: grid;
  gap: 3rem;
}

.blocos {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
}

.bloco {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0px;
}

.bloco > h1 {
  font-size: 1.125rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.bloco > h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.bloco > h1::before {
  content: "";
  width: 5px;
  height: 30px;
  top: -4px;
  left: -20px;
  background-image: linear-gradient(0deg, var(--cor2), var(--cor0));
  position: absolute;
}

.bloco > p {
  font-size: 1.125rem;
}

.complementos {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1.125;
}

.complementos-bloco {
  display: grid;
  gap: 1rem;
  font-size: 1.125rem;
  position: relative;
}

.lista {
  list-style-type: none;
  display: grid;
  gap: 5px;
}

.lista > li {
  color: white;
  align-items: center;
}

.lista > span {
  color: #8f8f8f;
}

.curso {
  display: flex;
  justify-content: space-between;
}

li .horas,
.nivel {
  color: #8f8f8f;
}

.nivel {
  color: #8f8f8f;
  font-size: 1.125rem;
}

.curso-titulo::before {
  content: '';
  width: 25px;
  height: 25px;
  top: -5px;
  left: -40px;
  background-image: url(../img/cursos.svg);
  background-repeat: no-repeat;
  position: absolute;
}

.idioma-titulo::before {
  content: '';
  width: 25px;
  height: 25px;
  top: -5px;
  left: -40px;
  background-image: url(../img/idiomas.svg);
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 900px) {
  .formacao {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .formacao > h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #fff;
    text-align: center;
    color: #fff;
  }

  .curso-titulo::before {
    top: -5px;
    left: 200px;
  }
  
  .idioma-titulo::before {
    top: -5px;
    left: 85px; 
  }
}

@media (max-width: 384px) {
  .formacao > h1 {
    font-size: 1.75rem;
    text-align: center;
  }

  .minha-experiencia {
    font-size: 1.125rem;
  }
}

@media (max-width: 280px) {
  .curso-titulo::before {
    display: none;
  }
  
  .idioma-titulo::before {
    display: none;
  }
}