.formacao-sessao {
  background-color: var(--cor3);
  color: #8f8f8f;
}

.formacao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1366px;
  padding: 5.5rem 1.25rem;
  margin: auto;
  gap: 6.25rem;
}

.formacao > h1 {
  font-size: 8rem;
  text-align: left;
  text-transform: uppercase;
  word-break: break-all;
  color: black;
}

.formacao-blocos {
  display: grid;
  gap: 3rem;
}

.blocos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.bloco {
  background-color: black;
  display: grid;
  padding: 15px;
  margin: 0px;
}

.bloco > h1 {
  font-size: 1.125rem;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.bloco > h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.bloco > h1::before {
  content: "";
  width: 5px;
  height: 30px;
  top: -4px;
  left: -20px;
  background-image: linear-gradient(0deg, var(--cor2), var(--cor0));
  position: absolute;
}

.bloco > p {
  font-size: 1.125rem;
}

.complementos {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: bolder;
  font-size: 0.875rem;
  text-decoration: underline;
  line-height: 1.125;
}

.complementos::before {
  content: '';

}

.complementos-bloco {
  display: grid;
  gap: 2rem;
  font-size: 1.125rem;
}

.lista {
  list-style-type: none;
  display: grid;
  gap: 5px;
}

.lista > li {
  color: white;
}

.lista > span {
  color: #8f8f8f;
}

.curso {
  display: flex;
  justify-content: space-between;
}

li .horas,
.nivel {
  color: #8f8f8f;
}

.nivel {
  color: #8f8f8f;
}
