.habilidades {
  background: linear-gradient(0deg, var(--cor3), #fff);
  padding: 5.5rem 1.25rem;
}
.grid-habilidades {
  display: grid;  
  gap: 4rem;
}

.habilidades h1 {
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  word-break: break-all;
}

.habilidades-fotos {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  width: 100%;
  gap: 5rem;
  justify-content: center;
}

.icone-habilidade {
  padding: 1rem;
  background-color: #888488;
  border: 1px solid #585858;
  border-radius: 15px;
}

@media (max-width: 525px) {
  .grid-habilidades {
    gap: 2rem;
  }
  
  .habilidades-fotos {
    grid-template-columns: repeat(auto-fit, minmax(80px, 100px));
    gap: 2rem;
  }
}

@media (max-width: 384px) {
  .habilidades h1 {
    font-size: 1.75rem;
  }

  .icone-habilidade {
    width: 50%;
    place-self: center;
  }
}