body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
body {
  background: #faf6ed;
  color: #222222;
  -webkit-font-smoothing: antialiased;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
.menu {
  grid-column: 3 / 5;
  margin: 2rem 0;
  background: #ffbb55;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  li > a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222222;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    &:hover {
      color: #ffffff;
    }
  }
}
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
  .titulo {
    font-family: "Playfair Display SC", Georgia, "Times New Roman", Times, serif;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
  }
}
.animais {
  &-lista {
    height: 360px;
    overflow-y: scroll;
    grid-column: 2;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 18px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ffbb55;
      border-left: 4px solid #faf6ed;
      border-right: 4px solid #faf6ed;
    }
    &::-webkit-scrollbar-track {
      background: #faf6ed;
    }
  }
  &-descricao {
    grid-column: 3;
    section {
      margin-bottom: 3rem;
    }
    &[data-descricao="descricao"] > section {
      display: none;
      &.ativo {
        display: block !important;
        &.show-right {
          animation: show-right 0.7s forwards;
        }
        &.show-down {
          animation: show-down 0.7s forwards;
        }
      }
    }
  }
  h2 {
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    color: #ee5544;
    &::before {
      content: "";
      display: inline-block;
      width: 40px;
      height: 10px;
      margin-right: 10px;
      background: #ffbb55;
    }
  }
  p {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
.faq {
  &-lista {
    grid-column: 2 / 4;
    dt {
      font-family: monospace;
      font-weight: bold;
      margin: 2rem 0 0.5rem;
      color: #ee5544;
      font-size: 1rem;
      cursor: pointer;
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 10px;
        margin-right: 10px;
        background: #ffbb55;
      }
      &::after {
        content: "⮧";
        display: inline-block;
        margin-left: 12px;
      }
      &.ativo::after {
        content: "⮥" !important;
      }
    }
    dd {
      font-family: Helvetica, Arial, sans-serif;
      margin: 0 30px 0.5rem;
      display: none;
      &.ativo {
        animation: accordion 0.7s forwards;
        display: block;
      }
    }
  }
}
.mapa {
  grid-column: 2;
}
.dados {
  grid-column: 3;
  li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 10px;
      margin-right: 10px;
      background: #ffbb55;
    }
  }
}
.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #ffbb55;
  p {
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
  }
}
.numeros-grid {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  h3 {
    font-family: "Playfair Display SC";
    font-size: 2rem;
    margin-bottom: .5rem; 
  }
  span {
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ee5544;
  }
}
[data-sessao="sessao"] {
  opacity: 0;
  transform: translateX(-50px);
  transition: 0.5s;
  &.ativo {
    opacity: 1;
    transform: translateX(0);
  }
}
.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  & .modal {
    padding: 40px;
    background: #ffffff;
    min-width: 300px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px #ffffff;
    position: relative;
    animation: modal 0.5s forwards;
    & .fechar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 4px solid #ffffff;
      background: #e54;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
      top: -30px;
      right: -30px;
      position: absolute;
      font-size: 1.2rem;
      color: #ffffff;
      cursor: pointer;
    }
    & input {
      width: 100%;
      padding: 12px 8px;
      box-sizing: border-box;
    }
    & label {
      font-family: "IBM Plex Mono", monospace;
      display: block;
      font-weight: 700;
      margin: 16px 0 8px 0;
    }
    & button[type="submit"] {
      display: block;
      background: #e54;
      border: none;
      border-radius: 4px;
      padding: 12px 32px;
      font: 700 1rem/1 "IBM Plex Mono", monospace;
      color: #ffffff;
      margin-top: 16px;
    }
  }
  &.ativo {
    display: flex;
  }
}
.tooltip {
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 8px;
  color: white;
  font: 700 0.875rem/1 "IBM Plex Mono", monospace;
  max-width: 150px;
  border-radius: 2px;
  top: 0;
  left: 0;
}
[data-dropdown] {
  .menu-dropdown {
    display: none;
    position: absolute;
    width: 140px;
    top: 37px;
    left: -47.25px;
    justify-content: center;
    background: #e54;
    border: 2px solid #333;
    z-index: 5;
    & li a:hover {
      color: #faf6ed;
    }
    & li a {
      margin: 0px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 70px;
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #e54;
    }
    @media (max-width: 700px) {
      position: static;
      border: none;
      &::before {
        left: 22px;
      }
    }
  }
  position: relative;
  &:hover .menu-dropdown {
    display: block;
    animation: show-up 0.4s forwards;
  }
  &.ativo .menu-dropdown {
    display: block !important;
    animation: show-up 0.4s forwards;
  }
}
[data-menu="button"] {
  display: none;
}
[data-semana]::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f33;
  border: 2px solid #000;
}
[data-semana].aberto::after {
  background: #3f3;
}


@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 150px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section .titulo {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0;
  }
  .copy {
    margin-bottom: 0;
  }
  .numeros-grid {
    grid-column: 1;
  }
  .js [data-menu="button"] {
    display: flex;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding: 8px 16px;
    margin: 10px;
    background: #222222;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 4;
    &::before {
      content: "";
      display: inline-block;
      height: 2px;
      width: 12px;
      margin-right: 4px;
      background: #ffffff;
      box-shadow: 0 4px #ffffff, 0 -4px #ffffff;
      transition: all .3s;
    }
    &.ativo {
      &::before {
        transform: rotate(90deg);
      }
    }
  }
  .js [data-menu="list"] {
    display: none;
    &.ativo {
      display: block;
      position: absolute;
      padding: 60px 0 20px 0;
      width: 160px;
      top: 0;
      background: #ffbb55;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      z-index: 3;
      animation: show-right .3s forwards;
    }
  }
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes accordion {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
