.apresentacao {
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding: 2.5rem 5vw;
   background-image: url(./conteudo/Rectangle\ 23.svg);
   background-repeat: no-repeat;
   background-size: auto 40vw;
}

.nome {
   display: grid;
   align-content: center;
   justify-content: left;
}

.nome h1 {
   font-size: 5vw;
}

.nome h2 {
   font-size: 2.2rem;
   color: var(--cor2);
}

.nome h3 {
   font-size: 1.8vw;
}

.foto {
   display: grid;
   place-self: center end;
   position: relative;
}

@media (max-width: 1000px) {
   .apresentacao {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
   }
   
   .nome {
      justify-content: center;
      text-align: center;
   }

   .nome h1::before {
      display: none;
   }

   .foto {
      width: 75%;
      display: block;
      place-self: center
      ;
   }

   .nome h1 {
      font-size: 3rem;
   }
   .nome h2 {
      font-size: 1.5rem;
   }
   .nome h3 {
      font-size: 1rem;
   }

   .apresentacao {
      background-image: url(./conteudo/Rectangle\ 23.svg);
      background-repeat: no-repeat;
      background-size: auto;
   }
}
