.cor-w {
  color: #f7f7f7;
}

.cor-s2 {
  color: #ededed;
}

.cor-s3 {
  color: #dedede;
  ;
}

.cor-s4 {
  color: #cccccc;
}

.cor-s5 {
  color: #b2b2b2;
}

.cor-s6 {
  color: #9c9c9c;
}

.cor-s7 {
  color: #717171;
}

.cor-s8 {
  color: #595959;
}

.cor-s9 {
  color: #404040;
}

.cor-s10 {
  color: #2e2e2e;
}

.cor-s11 {
  color: #1a1a1a;
}

.cor-b {
  color: #0e0e0e;
}

.cor-p1 {
  color: #ffbb00;
}

.cor-p2 {
  color: #e4a30b;
}

.cor-p3 {
  color: #a66f00;
}

.cor-p4 {
  color: #664400;
}

.cor-p5 {
  color: #332200;
}

.cor-t1 {
  color: #835a54;
}

.cor-t2 {
  color: #643b35;
}

.cor-t3 {
  color: #41201b;
}

.cor-t4 {
  color: #321511;
}

.cor-t5 {
  color: #220d0a;
}

.cor-g {
  background-image: linear-gradient(#ffbf00, #f2a60c);
}

.cor-sg {
  background-image: linear-gradient(#ffb60d, #e59317);
}
