@font-face {
  font-family: "Lol"; 
  src: url("../fonts/BeaufortforLOL-BoldItalic.ttf") format("truetype");
}

.c-card {
  position: relative;
  cursor: pointer;
  flex: 1 0 200px;
  max-width: 220px;
  font: italic 1.25rem/1 "Lol", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  clip-path: polygon(90% 0, 100% 5%, 100% 100%, 0 100%, 0 0);
}

.c-card:hover .c-card__title {
  text-indent: 30px;
  background: #006680;
}

.c-card:hover .c-card__image {
  transform: scale(1.02);
}

.c-card__title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  background: #061c25;
  color: #fff;
  text-indent: 20px;
  font-size: 1.5rem;
  transition: all .6s ease;
  z-index: 1;
}

.c-card__image {
  width: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: all .6s ease;
}