* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/* ADVERTISE */

.advertise-bg {
  background: #122ab2;
  color: #ffffff;
}

.advertise a {
  color: #ffffff;
}

.advertise {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  gap: 8px 20px;
}

/* HEADER */

.header-bg {
  background: #2c70ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 10px;
  gap: 20px;
}

.header-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.25rem;
}

.header-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu a {
  color: #ffffff;
  font-size: 1.25rem;
}

.header-menu a:hover {
  color: #122ab9;
}

/* INTRO */

.intro {
  max-width: 960px;
  box-sizing: border-box;
  font: 700 3rem/1 "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
  margin: 0 auto;
  padding: 60px 10px;
  box-shadow: 0 -2px 0 #2c70ff;
}

/* ABOUT */

.about-bg {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 10px;
  justify-content: start;
  box-shadow: 0 -2px 0 #2c70ff;
}

.about h1 {
  font-size: 3rem;
  margin-bottom: 24px;
}

.about p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c91;
  margin-bottom: 20px;
}

.about {
  flex: 2 1 300px;
}

.about-img {
  flex: 1 1 160px;
  margin: 5px 10px;
}

/* PRODUCTS */

.products-bg {
  max-width: 960px;
  box-sizing: border-box;
  padding: 60px 10px;
  margin: 0 auto;
}

#products > h1 {
  font-size: 3rem;
  margin-bottom: 60px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 10px;
}

.products-items {
  flex: 1 1 180px;
}

.products-items h2 {
  font-size: 3rem;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.products-items.purple {
  border-top: 8px solid #ae81ff;
}

.products-items.pink {
  border-top: 8px solid #f9265e;
}

.products-items.blue {
  border-top: 8px solid #66d9eb;
}

/* PRICE */

#price {
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  gap: 10px;
  padding: 60px;
}

.price-items {
  flex: 1;
  border: 4px solid #ffffff;
  padding: 20px;
  align-self: end;
}

.price-items > h2 {
  font: 700 3rem/1 "Nunito", Arial, Helvetica, sans-serif;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.price-items > span {
  display: block;
  font: 700 3rem "Nunito", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 30px 0 20px;
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.price-items span > sup {
  font-size: 1.5rem;
}

.price-items > ul > li {
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7c7c;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-items > ul > li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.price-items .buy {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font: 700 2.25rem/1 "Nunito", Arial, Helvetica, sans-serif;
  color: #222222;
  border: 4px solid #222222;
  padding: 15px 0;
  margin: 20px 0;
}

@media (max-width: 800px) {
  #price {
    padding: 60px 10px;
  }

  .gold {
    order: -1;
  }

  .copper {
    order: 1;
  }
}

/* QUALITY */

.quality-bg {
  max-width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 10px;
}

.quality-list {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.quality-item {
  flex: 1 1 300px;
}

.quality-item > h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quality-item > p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}

.quality-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  background: #ae81ff;
}

.quality-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}

.quality-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

/* NEWSLETTER */

.newsletter-bg {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.newsletter-info {
  flex: 1 1 200px;
  margin: 0 10px;
}

.newsletter-info h2 {
  font-size: 3rem;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25rem;
  color: #7c7c7c;
  font-style: italic;
  max-width: 20ch;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

.newsletter-form input {
  flex: 3;
  font: 400 italic 1.25rem "Nunito", Arial, Helvetica, sans-serif;
  border: 4px solid #2c70ff;
  background: transparent;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1;
  font: 700 2.25rem "Nunito", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  background: #2c70ff;
  border: none;
  padding: 15px 10px;
  margin: 0;
  cursor: pointer;
}

/* FOOTER */

.footer {
  display: flex;
  height: 200px;
  background: #2c70ff;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.25rem;
  color: #122ab2;
  align-self: center;
}

.footer a {
  text-decoration: none;
  color: #122ab2;
}

.footer a:hover {
  color: #66d9eb;
}

@media (max-width: 660px) {
  .footer {
    height: initial;
  }

  .footer p {
    font-size: 1.25rem;
    padding: 30px 10px;
  }
}
