@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather:ital,wght@1,900&family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap");

@import './utilidades/componentes.css';
@import './home/header.css';
@import './home/introducao.css';
@import './bicicletas/bicicletas-lista.css';
@import './home/diferencial.css';
@import './utilidades/tipografia.css';
@import './utilidades/cores.css';
@import './home/depoimento.css';
@import './home/ajustes.css';
@import './home/footer.css';

:root {
  --w: #f7f7f7;
  --s2: #ededed;
  --s3: #dedede;
  --s4: #cccccc;
  --s5: #b2b2b2;
  --s6: #9c9c9c;
  --s7: #717171;
  --s8: #595959;
  --s9: #404040;
  --s10: #2e2e2e;
  --s11: #1a1a1a;
  --b: #0e0e0e;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --t1: #835a54;
  --t2: #643b35;
  --t3: #41201b;
  --t4: #321511;
  --t5: #220d0a;
  --gradient: linear-gradient(#ffbf00, #f2a60c);
  --select-gradient: linear-gradient(#ffb60d, #e59317);
  --titulo: "Pacifico", cursive, Arial, sans-serif;
  --subtitulo: "Courgette", cursive, Arial, sans-serif;
  --texto: "Roboto", Arial, sans-serif;
}

body {
  margin: 0px;
  /* padding-bottom: 600px; */
  background-color: var(--w);
}

h1,
h2,
h3,
ul,
p,
blockquote {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}
  